{% extends "base.html" %}
{% block title %}Geolocation{% endblock %}
{% block scripts %}<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

{{map.js}}
{% endblock %}

{% block content %}
{% if session['id'] %}
<p></p>
<button type="button" onclick="window.location.href='/plantid';">ID a Plant</button>
 {% endif %}
<p></p>
    <div id="map">  {{map.html}}</div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->


{% endblock %}
