{% extends 'base.html'%}
{% block scripts %}
     {{map.js}}
{% endblock scripts %}
{% block content %}
    <h1>poop fart</h1>


    <h3>i am secretly 13</h3>

    <div class="coords">
      <p id="lat"></p>
      <p id="long"></p>
    </div>
      {{map.html}}
      <button onclick="document.getElementById('lat').innerHTML=current_coords.latitude">Get the Lat</button>
        <button onclick="document.getElementById('long').innerHTML=current_coords.longitude">Get the Long</button>
    <script type="text/javascript">
    //document.getElementById(lat).innerHTML =  current_coords.latitude.toString();
  //  document.getElementById(long).innerHTML =  current_coords.longitude.toString();
    //initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
/*  $(window).on('load',function() {
      alert("Document loaded successful!", current_coords );
        console.log("initialLocation", current_coords);
     });
*/
    </script>
{% endblock content %}
