body{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 0 50px 50px 50px;
}
.cards {
	background-color: #c6e3fa;
	width: 60%;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 2px;
}
.wrapper{

	width: 100%;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
  display: none;
}

#map .map-control {
  display: block;
}

.selector-control {
  font-size: 14px;
  line-height: 30px;
  vertical-align: baseline;
}

}
.custom-map-control-button:hover {
  background: #ebebeb;
}
