{% extends 'layout.html'%}

{% block content %}

<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>

<div>
    {% for datas in data.results %}
    <div class="cards">
        <span>{{ datas.species.scientificNameWithoutAuthor }}</span>
        <p>{{ datas }}</p>
    </div>
    {% endfor %}

    <img src="/uploads/<name>"
         alt="image_1"
         width="450"
         height="500">
</div>
{% endblock content %}