{% extends 'base.html'%}

{% block content %}

<script type="text/javascript">
		var current_coords = {};
	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(function (position) {
			//initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

			//it looks like the geolocation object just won't json stringify so let's build up
			//our own js object with what we need
			current_coords.latitude = position.coords.latitude;
			current_coords.longitude = position.coords.longitude;
			

			console.log("coords", current_coords);
			document.getElementById("coords").innerHTML = current_coords.latitude.toString() + ', ' + current_coords.longitude.toString();


		});
	}

	function sendPlantinfo(){
		let userinfo = document.getElementById("coords").value
		console.log(userinfo)
		const request = new XMLHttpRequest()
		console.log("coords", current_coords);
		console.log("coords l string", JSON.stringify(current_coords));
		//note the `backtick` syntax below
		request.open('POST', `/savingid/${JSON.stringify(current_coords)}`)
		//print request;
		request.send();
	}
</script>

	<div>
		{% for datas in data %}
		<div class="cards">
			<span>{{ datas.species.scientificName }}</span>
			<p>{{ datas['score'] * 100 | round }}%</p>
			<p>{{ datas['Inv'] }}</p>
			<button type="button" onclick="sendPlantinfo()">Submit</button>
		</div>
		{% endfor %}
		<p>This is just to show how to get the user id: {{session['id']}}</p>
		<p>This is to show the coords: <span id="coords"></span></p>
		<img src= "{{image }}"
			 alt ="image"
			 width="450"
			 height="500">

	</div>

{% endblock content %}
