{% extends 'base.html'%}

{% block content %}

	<div>
		{% for datas in data %}
		<div class="cards">
			<span>{{ datas.species.scientificName }}</span>
			<p>{{ datas['score'] * 100 | round }}%</p>
			<p>{{ datas['Inv'] }}</p>
		</div>
		{% endfor %}
		
		<img src= "{{image }}"
			 alt ="image_1"
			 width="450"
			 height="500">
	</div>
<script type="text/javascript">
	if (navigator.geolocation) {
	 navigator.geolocation.getCurrentPosition(function (position) {
			 //initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
			 current_coords = position.coords;
			 console.log("coords", current_coords);


	 });
	}

</script>
{% endblock content %}
