{% extends 'base.html'%}

{% block content %}

	<div>
		{% for datas in data %}
		<div class="cards">
			<span>{{ datas.species.scientificName }}</span>
			<p>{{ datas['score'] * 100 | round }}%</p>
			<p>{{ datas['Inv'] }}</p>
			<button type="button" onclick="sendPlantinfo()">Submit</button>
		</div>
		{% endfor %}
		<p>This is just to show how to get the user id: {{session['id']}}</p>
		<p>This is to show the coords: <span id="coords"></span></p>
		<img src= "{{image }}"
			 alt ="image"
			 width="450"
			 height="500">
		
	</div>
<script type="text/javascript">
	if (navigator.geolocation) {
	 navigator.geolocation.getCurrentPosition(function (position) {
			 //initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
			 current_coords = position.coords;
			 console.log("coords", current_coords);
			 document.getElementById("coords").innerHTML = current_coords.latitude.toString() +', ' + current_coords.longitude.toString() ;


	 });
	}

    function sendPlantinfo() {
        let userinfo = document.getElementbyId("userinfo").value
        console.log(userinfo)
        const request = new XMLHttpRequest()
        request.open('POST', '/plantid/${JSON.stringify(userinfo, current_coords)}')
        print request
        request.send();
    }
</script>
{% endblock content %}
